@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-size: 0.5208335vw;
}

@media (max-width: 48em) {
	html {
        font-size: 5px;
        font-size: 1.5625vw;
        font-size: calc((100 / 375) * 5vw);

        -webkit-text-size-adjust: none;
    }
}